@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');


.main-tips {
    width: 20%; /* Adjust the width as needed */
    margin: 1vw; /* Adjust the margin as needed */
    background: linear-gradient(to bottom, #91A56B,#F3B140, white); 
    box-shadow: 0 0 30px rgb(50, 53, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1vw;
    height:25vh;
    border-radius: 1vw;
   
  }

/* .main-tips{
    display:flex;
    flex-direction: column;
    height:65vh;
    width:25vw;
    border-radius: 2vw;
    background: linear-gradient(to bottom, #91A56B, #F3B140, white); 
    box-shadow: 0 0 30px rgb(50, 53, 56);
    margin:2vw;
    margin-left:7vw;
    padding-top:0.5vw;
    justify-content: center;
} */
.rectangle-orange{
    background-color: black;
    height:1vw;
}
.rectangle-green{
    background-color: #91A56B    ;
    height:1vw;
}
.tips-card{
    background-color: #E1EEC7 ;
    height:40vh;
    width:21vw;
    margin: 1.4vw;
    box-shadow: 0 0 30px rgb(50, 53, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vw;

}
.tip{
    font-size: 1vw;
    font-family: 300;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Lobster', sans-serif; */
    /* font-family: 'Pacifico', cursive; */
    /* font-family: 'Quicksand', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .main-tips{
        height:15vh;
        width:40%;

    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .main-tips{
        height:13vh;

    }
  }